name: Lint Check

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths:
      - '**.cpp'
      - '**.hpp'

jobs:
  cpp-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Fetch dependencies with CMake
        run: |
          cmake -B build -S .
          # This fetches GoogleTest and makes headers available

      - uses: cpp-linter/cpp-linter-action@v2
        id: linter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: 'file'  # Use .clang-format config file
          tidy-checks: '' # Use .clang-tidy config file
          # only 'update' a single comment in a pull request thread.
          thread-comments: ${{ github.event_name == 'pull_request' && 'update' }}
          # Pass include path to clang-tidy so it can find gtest headers
          extra-arg: '-I build/_deps/googletest-src/googletest/include'

      - name: Fail fast?!
        if: steps.linter.outputs.checks-failed > 0
        run: exit 1
