name: Tests Check

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths:
      - '**.cpp'
      - '**.hpp'
      - 'CMakeLists.txt'
      - '**/CMakeLists.txt'
      - 'cmake/**'
      - 'tests/**'

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Configure and build with CMake
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build -- -j2

      - name: Run unit tests
        run: |
          ctest --test-dir build --output-on-failure -j2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Run e2e tests
        run: |
          cd tests/e2e
          chmod +x run_e2e_tests.sh
          ./run_e2e_tests.sh
